html
    head
        title #{stuff.username}
        link(rel="stylesheet" href="styles.css")
        
    body
        h1 #{stuff.username}
        br
        include header
        include buttons
        br

        h2 Following
        each artist in stuff.following
            - let url1 = artist
            a(href = '/artist/' + url1) Artist: #{artist}
            br

        h2 Notifications
        each notification in stuff.notifications 
            p #{notification}

        h2 Liked 
        each val, key in stuff.liked 
            - let url2 = val
            a(href ='/artWork/' + url2) #{key}
            br
        
        h2 Reviewed 
        each val, key in stuff.reviewed 
            - let url3 = val
            a(href ='/artWork/' + url3) #{key}
            br

